<h1>Add a New Restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: Restaurant::CATEGORIES, include_blank: false %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit 'Add', class: 'btn btn-info' %>
  <% end %>
