<h1><%= @restaurant.name %></h1>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @restaurant.address %></h2>
      <p>Category: <%= @restaurant.category.capitalize %></p>
    </div>
    <p class="card-trip-pricing"> <%= @restaurant.phone_number %></p>
  </div>
</div>

<div class="reviews">
      <% @restaurant.reviews.each do |review| %>
        <div class="review-content">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="review-words">
            <p><%= "â­ï¸" * review.rating %></p>
            <p><%= review.content %></p>
          </div>
        </div>
      <% end %>
</div>

<div class="text-center">
  <button type="button" class="btn btn-outline-primary"> <%= link_to "âœï¸ Add a Review", new_restaurant_review_path(@restaurant), class: 'btn-title' %></button>
</div>
<div class="text-center">
  <button type="button" class="btn btn-outline-primary"> <%= link_to "ðŸ‘ˆ Back to Restaurants List", restaurants_path, class: 'btn-title' %></button>
</div>
